<div class="card profile-card">
  <img class="profile-image" src="/pfp.png" alt="Image of Andrei" width="150" height="150">
  <h1 class="title">Hello</h1>
  <p class="title subtitle">I'm Andrei, nice to meet you</p>
  <div class="links">
    <a href="https://github.com/AndreiSva/">GitHub</a>
    <a>Linkedin</a>
    <a>Resumé</a>
  </div>
</div>
<rm-navbar></rm-navbar>
<div class="card">
  <h2 class="title">Projects</h2>
  <div class="showcase">
    <div class="card">
      <a class="title" href="https://github.com/AndreiSva/prosperity">Prosperity</a>
    </div>
    <div class="card">
      <a class="title" href="https://github.com/AndreiSva/continuity">Continuity</a>
    </div>
    <div class="card">
      <a class="title" href="https://codeberg.org/Andrei/mircy">mIRCy</a>
    </div>
    <div class="card">
      <a class="title" href="https://github.com/AndreiSva/new-site">Websites</a>
    </div>
    <div class="card">
      <a class="title" href="/comingsoon">Photography</a>
    </div>
  </div>
</div>
